<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aspeechtest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Aspeechtest.Properties.Settings>
            <setting name="iscustomtachieenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toji_blink" serializeAs="String">
                <value />
            </setting>
            <setting name="toji_open" serializeAs="String">
                <value />
            </setting>
            <setting name="ake_blink" serializeAs="String">
                <value />
            </setting>
            <setting name="ake_open" serializeAs="String">
                <value />
            </setting>
            <setting name="automatecharaview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nomsgonboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="automatevct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="supressupdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isupdownmovable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xy" serializeAs="String">
                <value>534, 435</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="enablerecafsdk" serializeAs="String">
                <value>False</value>
            </setting>
        </Aspeechtest.Properties.Settings>
    </userSettings>
</configuration>